body{
  margin: 0;
}
p{
  margin-top: 0;
}

.top
{
  height:100px;
  width:100px;
  background-color: red;
  display: inline-block;
  position: relative;
  left: 215px;
}
.mid {
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position: relative;
    right: 100px;
}
.bottom {
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    right: 100px;
}
