body{
  margin: 0;
}
p{
  margin-top: 0;
}

.top
{
  border-color: black;
  border: solid 10px;
  margin:0px;
  padding: 20px;
  height:200px;
  width:200px;
  background-color: orchid;
}
.mid {
    height: 200px;
    width: 200px;
    margin: 0;
    margin-left: 260px;
    border: solid 20px;
    background-color: limegreen;
}
.bottom {
    height: 200px;
    width: 200px;
    margin: 0;
    margin-left: 500px;
    border: solid 10px;
    background-color: crimson;
    border-color: gold;
}
